<div class="jumbotron">
    <h1>登入狀態：@User.Identity.IsAuthenticated</h1>
    <p class="lead">
    
        登入者：@User.Identity.Name
    
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
